.navigatelogin{
    height:7vh;
    background-color: black;
    width: 100%;
    border: 0px solid black;
}

.centerboxlogin{
    height: 86vh;
    width: 100%;
    border: 0px solid red;
    justify-content: center;
}
.playerbox{
    height: 86vh;
    width: 50vw;
    border:solid 0px black;
    box-shadow:0 0 39px 0.4px black;
    margin-left: 25vw;
    display: flex;
    background-color: rgba(25, 107, 107, 0.197);
    justify-content: center;
    align-items: center;
}
/* .imagehere{
    height: 86vh;
    width: 38vw;
    border: solid 0px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.playerhead{
height: 10vh;
width: 100%;
border: 0px solid red;
border-radius: 0px;
display: flex;
justify-content: center;
align-items: center;
font-size: 3vh;
color:rgba(255, 255, 255, 0.815);
background-color: black;
}
.playerdet{
    height: 70vh;
    width:100%;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px black;
    

}

.inp1{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0px solid green;
}
::placeholder{
    color:rgba(255, 255, 255, 0.849);
    
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}

*:focus{

    outline:none;
}

.butpros{
    height: 7vh;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(1,105,105);
    color:white;
    border: 1px solid black;
    box-shadow: 2px 1px 1px 1px black;
    font-size:2vh;
    margin-right: 2vh;
    margin-left:1vw;
}
.butprosub{
    height: 7vh;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(1,105,105);
    color:white;
    border: 1px solid black;
    box-shadow: 2px 1px 1px 1px black;
    font-size:2vh;
    margin-right: 2vh;
    margin-top: 4vh;
    margin-left:11vw;
}
.butpros:hover{
    font-size: 2.1vh;
}

.titles{
    height: 10vh;
    font-size: 5vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0px black;
    color: rgba(228, 255, 255, 0.788);
    text-shadow: 3px 3px black;
}

.content{
    height: 60vh;
    width:100%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
}

.insidecontent{
    height: 60vh;
    width: 60%;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 0px 0px 10px 1px black;
    color: rgb(192, 201, 201);
    padding-top: 6vh;
    padding-right: 8vh;
    padding-left: 6vh;
    font-size: 2.4vh;
    border-radius: 10px;

}
.lli{
    padding-top: 2vh;
}
.proceed{
    height: 16vh;
    border: 0px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer{
    color:white;
    height: 7vh;
    font-size: 3vh;
    display:flex;
    justify-content: center;
    background-color: black;
}