{% load staticfiles %}

<html>

<head>
    <link href="{% static "frontend/bootstrap.css" %}" rel="stylesheet">
    <!--<link href="{% static "frontend/index.css" %}" rel="stylesheet">-->
    <!--<link href="{% static "frontend/style.css" %}" rel="stylesheet">-->

</head>

<body style="background-image: url({% static "frontend/alt1.jpg" %});background-size:cover;resize:none;">
    <div id="root">

    </div>
    <script src="{% static "frontend/appindex.js" %}"></script>

</html>