.navig{
    height:7vh;
    background-color: black;
    width: 100%;
    border: 0px solid red;
    display: flex;
}
.butpro{
    height: 7vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 105, 105);
    color: white;
    border: 1px solid black;
    box-shadow: 2px 1px 1px 1px black;
    font-size:2.3vh;
}
.butpro:hover{
    font-size:2.4vh;

}
.centerbox{
    height: 86vh;
    width: 100%;
    border: 0px solid red;
    
    justify-content: center;

}
.titles{
    height: 10vh;
    font-size: 5vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0px black;
    color: rgba(228, 255, 255, 0.788);
    text-shadow: 3px 3px black;
}
.content{
    height: 60vh;
    width:80vw; 
    margin-left: 10vw;
    border: 0px solid black;
    justify-content: center;
}
.insidecontent{
    height: 60vh;
    width: 80%;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 0px 0px 10px 1px black;
    color: rgb(192, 201, 201);
    padding-top: 6vh;
    padding-right: 8vh;
    padding-left: 6vh;
    font-size: 2.4vh;
    border-radius: 10px;
    text-align: left;

}
.lli{
    padding-top: 2vh;
}
.proceed{
    height: 16vh;
    border: 0px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}